body {
  padding: 2dvh 1dvw 0dvh 1dvw;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  height: 100vh;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
